@charset "UTF-8";

main #contato {
  padding-bottom: 50px; 
  font-size: 1.2rem;
}

.contatos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  padding: 1rem;
  
}



.contatos a:hover {
  color: var(--bg-button-color-hover);
}

@media (max-width: 400px) {
  .contatos {
    flex-wrap: wrap;
  }
  
}