#creditos {
    padding: 1rem 0;
}

#creditos h2 {
    margin: 0;
    padding: 1rem 0;
}

#creditos p {
    padding-left: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

#creditos a {
    padding-left: 3rem;
}

#creditos a:hover {
    color: var(--bg-button-color);
}