@charset "UTF-8";

footer {
    background-color: var(--bg-header);
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

footer .up {
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
}

footer a:hover {
    color: var(--bg-color);
}