@charset "UTF-8";

main header {
    padding-top: calc(70px + 4rem) ;
    text-align: center;
}

main header h1 {
    color: var(--highlight-text-color);
    font-size: 3rem;
}

main header .descricao {
    max-width: 70ch;
    font-size: 1.2rem;
    margin: 30px auto;
}

main header .redes {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.8rem;
}

.redes ion-icon:hover {
    color: var(--bg-button-color);
}

/* Tech Skills */

main header .tecnologias {
    padding: 2rem;
    font-size: 1.2rem;
}
main header .tecnologias h2 {
    display: inline;
}

main header .tecnologias p {
    display: inline;
    color: var(--bg-button-color);
}

.tecnologias div {
    display: inline-block;
    border-radius: 1rem;
    padding: .5rem .5rem .3rem;
    border: 1px solid;
    background-color: var(--bg-tecnologias);
}

@media (max-width: 800px) {
    main header h1 {
        font-size: 1.8rem;
        /* text-align: left; */
    }

    main header .descricao{
        max-width: 400px;
    }
}

@media (max-width: 400px) {
    
    .tecnologias span {
        display: none;
    }

    .tecnologias {
        display: flex;
        flex-direction: column;
    }
}