@charset "UTF-8";


.projeto {
    background-color: var(--bg-color2);
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px auto 20px auto;
    background-color: var(--bg-color2);
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    padding: 20px 15px;
    border-radius: 10px;
    align-items: center;
    box-sizing: border-box;
}

.projeto img {
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
    border-radius: 6px;
}

.descricao-projeto h4 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.4rem;
}

.descricao-projeto p {
    text-align: center;
    /* color: #767676; */
    font-weight: 500;
    margin-bottom: 20px;
    padding: 15px;
    margin-bottom: 20px;
}

.descricao-projeto .tecnologias-projeto {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.tecnologias-projeto li {
    padding: 10px;
    background-color: var(--bg-color);
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    font-weight: 600;
}

.descricao-projeto .links-projeto {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-bottom: 15px;
}

.link-externo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    transition: .2s;
}



.link-externo a:hover {
    color: var(--bg-button-color);
}

/* botão para mais projetos */

.mais-projetos {
    display: inline-block;
    background-color: var(--bg-button-color);
    border: 1px solid var(--button-border-color);
    padding: 10px 20px;
    margin-bottom: 20px ;
    border-radius: 10px;
    font-size: 1.2rem;
}

.mais-projetos:hover {
    background-color: var(--bg-button-color-hover);
}

@media (max-width: 950px) {
    
    .projeto {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    #projetos {
        padding: 25px;
    }

}