@charset "UTF-8";

main #sobre {
   padding: 20px 0;  
}

.sobre-mim {
   display: flex;
   gap: 20px;
}

.sobre-mim p {
   line-height: 1.8rem;
   letter-spacing: 0.1rem;
   padding-bottom: 15px;
}

.sobre-mim a {
   display: inline-block;
   background-color: var(--bg-button-color);
   border: 1px solid var(--button-border-color);
   padding: 10px 20px;
   margin-bottom: 20px ;
   border-radius: 10px;
   font-size: 1.2rem;
}

.sobre-mim a:hover {
   background-color: var(--bg-button-color-hover);
}

@media (max-width: 950px) {
    
   .sobre-mim {
       grid-template-columns: 1fr;
       padding: 20px;
   }

   .sobre-mim img {
      display: none;
   }
}