* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --laranja: #F27F00;
    --amarelo: #F8BB49;
    --azul-claro: #026296;
    --azul-escuro: #01304A;
    --bege: #e2d9af;
    --branco: #fff;
    --preto: #030303;
}

body,
html {
    font-family: "Montserrat", sans-serif;
    color: var(--preto);
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var(--preto);
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

}

h1,
h2 {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.botao {
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    margin: 10px;
    color: var(--preto);
}

.btn-primary {
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);

}

.btn-primary:hover {
    background-color: var(--laranja);
    color: var(--branco);
    transition: 0.8s;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
}

.btn-secondary {
    border: 1px solid var(--preto);
    color: var(--preto);
    background-color: transparent;
}

.btn-secondary:hover {
    background-color: var(--laranja);
    color: var(--branco);
    border: var(--branco);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
}

.section {
    padding: 3rem 5rem;
    text-align: center;
}

.title-section {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
    background-image: linear-gradient(90deg, var(--azul-escuro), var(--azul-claro));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.bg-laranja {
    background-color: var(--laranja);
    border-radius: 50px;
    padding: 2rem;
    text-align: center;
    margin: 1rem 0 .7rem;
}

.bg-amarelo {
    background-color: var(--amarelo);
    border-radius: 50px;
    padding: 2rem;
    text-align: center;
    margin: 2rem 0 .7rem;
}

/* header = menu */
header {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    height: 70px;
    width: 95vw;
    margin: 15px auto;
    z-index: 2;
    border-radius: 50px;


    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    // border: 0.5px solid rgba(255, 255, 255, 0.57);
}

#header {
    position: fixed;
    top: 0;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    font-size: 1.2rem;
    font-weight: bold;
}

header ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}

header li {
    display: inline;
}

header li a {
    color: #000;
}

header a:hover {
    cursor: pointer;
    color: var(--laranja);
    transition: .8s;
}

.btn-contato {
    color: #000;
    border-color: #000;
}

/* main */

main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Banner */
.banner {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("/imagens/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 50px 50px;
}


.banner {
    h1 {
        font-size: 5rem;
    }

    .hero-pre {
        margin: 20px auto;
        font-size: 2rem;
        line-height: 1.6;
    }

    .hero-buttons {
        margin-top: 30px;
    }

    .hero-sub {
        margin-bottom: 5rem;
    }

    .social-icons {
        margin-top: 40px;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        gap: 1rem;

        img {
            background-color: #fff;
            padding: .1rem;
            border-radius: 100%;
            width: 50px;
            // opacity: 0.8;
        }

        img:hover {
            background: var(--laranja);
            transition: 1s;
        }
    }
}




// Seção projetos

#projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

//Todos os cards
.projetos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;


}

//Cada card
.card {
    width: 300px;
}

.card-img {
    margin: 0;

    img {
        width: 100%;
        border-radius: 20px 20px 0 0;
        margin-bottom: 0;

    }

    a {
        padding: 0;
    }

}

.card-text {
    border-radius: 0 0 20px 20px;

    padding: 20px;
    text-align: left;

    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 0.5px solid rgba(255, 255, 255, 0.57);
    border-top: none;

    margin-top: -5px;

    h3 {
        color: var(--azul-escuro);
        margin-top: 15px;
        font-size: 1.3rem;
    }

    p {
        margin: 10px 0;
        font-size: 1rem;
        line-height: 1.4;
    }

}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 15px;
}

.tags span {
    background: transparent;
    border: solid 1px var(--azul-claro);
    color: var(--azul-claro);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8rem;
}

.botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
        color: #000;
    }

}



// Seção sobre 

.sobre {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    img {
        border-radius: 20px;
        width: 20vw;
        margin: 20px;
    }

    .texto {
        width: 40vw;
        text-align: justify;
        max-width: 30vw;
    }

    article {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

@media (max-width: 768px) {

    .bg-laranja {
        margin: 1rem 1rem .5rem;
    }

    .bg-amarelo {
        margin: 1rem 1rem .5rem;
    }
}