#contato-contato {
    padding-top: 100px;
}

#contato-contato h2 {
    margin: 0;
}

#contato-contato form {
    padding: 1.5rem 1rem;
}

#contato-contato input {
    width: 100%;
    padding: 8px 0;
    margin: 8px 0;
    color: black;
}

#message {
    height: 100px;
}

#contato-contato button {
    background-color: var(--bg-button-color);
    border: none;
    width: 100px;
    padding: .7rem;
    border-radius: 10px;
    margin-top: .3rem;

}

#contato-contato button:hover {
    background-color: var(--bg-button-color-hover);
    cursor: pointer;
}

#footer-contato {
    padding: 20px 0px;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    justify-content: center;
}

.redes-contato {
    font-size: 2rem;
    text-align: center;

}
.redes-contato h2 {
    margin-top: 0;
    font-size: 1.3rem;
}


/* página obrigada  */
#obrigada {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}