@charset "UTF-8";

@import 'componentes.css';

/* switch */

#switch {
    position: relative;
    width: 64px;
    margin: 4px 10px;
}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);

    animation: slide-back 0.2s;
}

.light #switch button {
    animation: slide-in 0.2s forwards;
    left: 0;
  }
  
#switch button:hover {
    outline: 8px solid var(--highlight-color);
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--switch-button-color);
    border: 1px solid var(--switch-border-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}


