* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --azul: #1327ba;
  --verde: #1e8d1d;
  --azul-bg: #d2e5fa;
  --branco-bg: #d3d3d3;
  --preto: #000;
}

body,
html {
  font-family: "Inter", sans-serif;
  color: var(--preto);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.botao {
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.5s ease;
  color: #fff;
}

.btn-primary {
  background: rgba(255, 255, 255, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
}

.btn-primary:hover {
  background: linear-gradient(90deg,
      rgba(77, 162, 255, 0.3),
      rgba(176, 80, 255, 0.3));
  transition: 0.8s;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
}

.btn-secondary {
  border: 1px solid #fff;
  color: #fff;
}

.btn-secondary:hover {
  background: linear-gradient(90deg,
      rgba(77, 162, 255, 0.3),
      rgba(176, 80, 255, 0.3));
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
}

.section {
  padding: 3rem 5rem;
  text-align: center;
  color: var(--branco-bg);
}

.title-section {
  font-size: 2rem;
  width: 100vw;
  color: var(--branco-bg);
  // background-image: linear-gradient(90deg, #4da2ff, #000);
  // -webkit-background-clip: text;
  // background-clip: text;
  // color: transparent;
}