/* header = menu */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  // color: #9b9b9b;
  padding: 10px;
  margin: 10px;
  position: fixed;
  min-width: 95vw;
  z-index: 2;
  text-transform: uppercase;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  border: 0.5px solid rgba(255, 255, 255, 0.57);
}

header ul {
  display: flex;
  gap: 20px;
}

header li {
  display: inline;
}

header a:hover {
  cursor: pointer;
  color: #9b9b9b;
  transition: .8s;
  
}

/* main */

/* Banner */
#banner {
  position:sticky;
  width: 100%;
  height: 98vh; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Vídeo de fundo */
#bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover; /* cobre toda a div */
}

/* Conteúdo em cima do vídeo */
.banner-content {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: #000;
}

// Seção sobre 

.sobre {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  img {
    border-radius: 50%;
    width: 20vw;
    margin: 20px;
  }

  h2 {
    width: 100%;
    text-align: center;
  }

  .texto {
    width: 40vw;
  }
}

// Seção projetos

#projetos {
  background-color: darkblue;
  color: white;
  text-align: center;
  padding: 50px 20px;

  .projetos-container {
    border: solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
  }

  .projeto {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: left;

    img {
      width: 100%;
      // border-radius: 50px;
    }

    h3 {
      margin-top: 15px;
      font-size: 1.5rem;
    }

    p {
      margin: 10px 0;
      font-size: 1rem;
      line-height: 1.4;
    }

    a {
      display: inline-block;
      margin-top: 10px;
      color: darkblue;
      font-weight: bold;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
