
/* css dos filtros  */
#filtro {
    display: flex;
    align-items: center;
    justify-content: center;
}

#categorias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

label {
    margin-right: 10px;
}

#resultados {
    margin-top: 20px;
}

/* resto */

#projetos-projetos {
    padding-top: 100px;
}

/* cada projeto */
#resultados {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.projeto-cadaprojeto {
    background-color: var(--bg-color);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0,0,0, .3);
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    gap: 0.7rem;

}

.projeto-cadaprojeto img {
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
    border-radius: 6px;
    width: fit-content;
}

.projeto-cadaprojeto img:hover {
    transform: scale(1.05);
}

#footer-projetos {
    padding: 20px 0px;
    width:100%;
    position:fixed;
    bottom:0;
    left:0;
    justify-content: center;
}

.contato-projetos {
    margin-bottom: 50px;
}

.descricao-projeto-proj {
    width: 70%;
}

.descricao-projeto-proj p {
    padding-top: 15px;
}

#tag-a-projetos {
    font-weight: 800;
}

@media (max-width: 900px) {
    #resultados {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 500px) {

    .projeto-cadaprojeto {
        flex-direction: column;
    }
    #categorias {
        padding: 0 1rem;
    }
    .busca {
        display: none;
    }

    .descricao-projeto-proj {
        width: 100%;
    }
    
    .descricao-projeto-proj p {
        padding-top: 15px;

    }
}